*{
    box-sizing: border-box;
}
:root {
    --lightblue: #45A293;
    --white: #C5C6C7;
    --nav:  #66fcf1;
    --dark: #0b0c10; 
}

html {
    background-color: black;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

/*navigation*/
header {
	background: rgba(2,2,2,0.1);
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 20px 0;
	background: rgba(2,2,2,0);
}

nav li {
	display: inline-block;
	margin: 0 50px;
	background: rgba(2,2,2,0);
}

nav a {
	color: var(--nav);
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background: rgba(2,2,2,0);
}

nav a:hover {
    background-color: var(--nav);
    color: black;
}

nav a:active {
	color: var(--nav);
	background-color: black;
}

/* start of name of occupation */
#home {
    width: 100%;
}

.ptext {
	position: absolute;
	top: 5%;
	width: 100%;
	text-align: center;
	color: var(--lightblue);
	font-size: 40px;
	letter-spacing: 5px;
	font-weight: bold;
	line-height: 50px;
    margin-bottom: 5%;
    margin-top: 6%;
}
 
.ptext .border {
	color: var(--lightblue);
	font-size: 40px;
	letter-spacing: 5px;
	font-weight: bold;
	line-height: 20px;
}

.ptext h4 {
	font-size: 20px;
	color: var(--white);
}

/* about me */
.section-about {
    margin-top: 30%;
    width: 100%;
    display: inline-block;
}

.section-about h2 {
	color: var(--nav);
	text-align: center;
	font-weight: bold;
}

.section-about p {
	text-align: center;
	color: var(--white);
    margin-left: 5%;
    margin-right: 5%;
    line-height: 150%;
    display: block;
}

.section-about a {
	color: var(--nav);
	text-decoration: none;
}

.section-about a:hover {
	background-color: var(--white);
	color: black;
	text-decoration: underline;
}
.section-about .headShot img {
    float: right;
    margin-left: 4%;
    margin-right: 5%;
    margin-bottom: 3%;
    border-radius: 25%;
}

/* projects section*/ 
.section-projects {
    width: 100%;
    margin-top: 10%;
    align-items: center;
    justify-content: space-around;
}

.section-projects .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 8px;

}

.section-projects .column {
	flex: 25%;
	padding: 0 5px;
    
}

.section-projects .row::after{
	content: "";
	clear: both;
	display: table;
}

.section-projects .column img {
	margin-top: 8%;
    align-items: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
    max-height: 50%;
	max-width: 50%;
	border-radius: 10%;
	box-shadow: 3px 5px var(--lightblue);
}

.section-projects .popup:hover {
	transform: scale(1.1);
}

/*start of zoom*/

.section-projects h2 {
	color: var(--nav);
	font-weight: bold;
    text-align: center;
}
.section-projects p {
	color: var(--nav);
    text-align: center;
    text-decoration: wavy;
}
/* contact*/
#contactMe {
    width: 100%;
    background-color: var(--nav);
    margin-top: 10%;
}


.section-contact h2 {
	color: var(--dark);
	font-weight: bold;
    text-align: center;
}
.section-contact p {
	color: var(--dark);
    text-align: center;
    text-decoration: wavy;

}

.section-contact .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 8px;
}

.section-contact .row::after{
	content: "";
	clear: both;
	display: table;
}

.section-contact .column {
	flex: auto;
	padding: 0 5px;
    justify-content: space-around;
   
}

.section-contact .column img {
	margin-top: 8%;
    align-items: center;
	display: flex;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
    max-height: 25%;
	max-width: 25%;
	border-radius: 50%;
}


.section-contact .popup:hover {
	transform: scale(1.1);
}
