:root {
    --lightblue: #45A293;
    --white: #C5C6C7;

}
.ptext {
	position: absolute;
	top: 3%;
	width: 100%;
	text-align: center;
	color: var(--lightblue);
	font-size: 40px;
	letter-spacing: 5px;
	font-weight: bold;
	line-height: 50px;
}
 

.ptext h4 {
	font-size: 20px;
	color: var(--white);
}


.ptext .border {
	color: var(--lightblue);
	font-size: 40px;
	letter-spacing: 5px;
	font-weight: bold;
	line-height: 20px;
}

.ptext h4 {
	font-size: 20px;
	color: var(--white);
}

